langchain_community==0.0.27
langchain==0.1.11
keras==2.15.0
arrow==1.3.0
beautifulsoup4==4.12.2
chromadb==0.4.18
ctransformers==0.2.27
huggingface-hub==0.20.3
langchainhub==0.1.14
lxml==4.9.3
pandas==2.1.3
numpy==1.26.2
pyarrow==14.0.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
streamlit==1.12.0
transformers==4.37.2
altair<5.0